body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
  

.hand {
  display: flex;
  gap: 4px;
  margin-top: 20px;
}

.tile {
  width: 40px;
  height: 60px;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  cursor: pointer;
  font-size: 20px;
}

.discards {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  gap: 2px;
}

.tile.cpu {
  background: #ddd;
  cursor: default;
}

/* 雀卓 */
#table {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}


/* 牌の向きを座り順にする */
#cpu1-hand {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  
  display: flex;
  gap: 4px;
  z-index: 1000;
}

#cpu2-hand {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);

  display: flex;
  gap: 4px;
  z-index: 1000;
}

#player-hand {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 4px;
  z-index: 1000;
}


.tile.bottom { transform: rotate(0deg); }
.tile.top    { transform: rotate(180deg); }
.tile.left   { transform: rotate(90deg); }
.tile.right  { transform: rotate(270deg); }
